.navbar {
  box-sizing: border-box;
  padding: 4px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
}
.navbar .horizontalbar {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar li {
  height: 50px;
}

.navbar li:first-child {
  margin-right: auto;
}
.navbar a {
  height: 100%;
  text-decoration: none;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(44, 44, 44);
  font-size: clamp(0.2rem ,2vw,1.1rem);
  width: 100%;
}
.navbar #logo,
#logo-img {
  width: 120px;
  height: auto;
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 20px rgb(224, 224, 224);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  list-style: none;
  animation: entry 0.3s cubic-bezier(0, 0.33, 1, 1.25);
  /* animation-range: entry 0% cover 50%; */
}

@keyframes entry {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.sidebar li a {
  width: 100%;
  left: 0;
  right: 0;
}

.navBtn{ 
    padding: 4px 8px;
    border-radius: 40px;
    border: solid #379BD6 0.5px;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1000px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 1001px) {
  .hide-on-desktop {
    display: none;
  }
}
